<!DOCTYPE html>
{% load static %}
{% with images_dir='displaysite/images/' %}
<html lang = "uk">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{% static 'displaysite/css/styles.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/62e1420fd9.js" crossorigin="anonymous"></script>
        <title>
            {% block title %}{% endblock %}
        </title>
    </head>

    <body>
        {% include 'partials/header.html' %}
        {%block content%}{% endblock %}
        {% include 'partials/footer.html' %}
    </body>
</hmtl>
{% endwith %}