{% extends 'base.html' %}
{% block title %}
  Solid Build - Кошик
{% endblock %}
{% block content %}
  <style>
    .cart-page {
      margin: 80px auto;
    }
    table {
      width: 100%;
      border-collapse: collapse;
    }
    .cart-info {
      display: flex;
      flex-wrap: wrap;
    }
    th {
      text-align: left;
      padding: 5px;
      color: #fff;
      background: #5179d7;
      font-weight: normal;
    }
    td {
      padding: 10px 5px;
    }
    td input {
      width: 40px;
      height: 30px;
      padding: 5px;
    }
    td a {
      color: #1d5bec;
      font-size: 24px;
    }
    td img {
      width: 120px;
      height: 120px;
      margin-right: 10px;
    }
    .total-price {
      display: flex;
      justify-content: flex-end;
    }
    .total-price table {
      border-top: 3px solid #5179d7;
      width: 100%;
      max-width: 400px;
    }
    td:last-child {
      text-align: right;
    }
    th:last-child {
      text-align: right;
    }
    td:last-child {
      text-align: right;
    }
    @media only screen and (max-width: 600px) {
      .cart-info p {
        display: none;
      }
    }
    .horizontal-line {
      width: 100%;
      height: 4px; /* Толщина линии */
      background-color: #2573cc; /* Цвет линии */
      margin: 20px 0; /* Отступы сверху и снизу */
    }
  </style>

  {% if cart_items %}
    <h2 class="title">Ваш кошик</h2>
    <div class="small-container cart-page">
      <table>
        {% for cart_item in cart_items %}
          <tr>
            <td>
              <div class="cart-info">
                {% for image in cart_item.product.images.all %}
                  {% if forloop.first %}
                    <img src="/media/{{ image.image }}" alt="{{ cart_item.product.name }}" width="150" />
                  {% endif %}
                {% endfor %}
                <div>
                  <p>
                    <a href="{% url 'displaysite:product' cart_item.product.id %}">{{ cart_item.product.brand }} {{ cart_item.product.model }}</a>
                  </p>
                  <form method="post" action="{% url 'displaysite:remove_from_cart' cart_item.id %}" style="margin-top: 10px;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Видалити з кошику</button>
                  </form>
                </div>
              </div>
              <div class="horizontal-line"></div>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% else %}
  <h1 class="title">Товарів у кошику немає</h2>
  {% endif %}
{% endblock %}
