{% extends "base.html" %}

{% block title %}SolidBuild - Головна{% endblock %}
{% block content %}
<div class="categories">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <img src="images/mainpic1.png">
            </div>
            <div class="col-3">
                <img src="images/mainpic2.png">
            </div>
            <div class="col-3">
                <img src="images/mainpic3.png">
            </div>
        </div>
    </div>
</div>
{%if all_products%}
    {% for product in all_products %}
    {% if forloop.counter0|divisibleby:4 %}
                </div><div class="row">
            {% endif %}
    <div class="col-4">
        <img src="{{ product.image_url }}" alt="{{ product.name }}">
        <h4>{{ product.name }}</h4>
        <div class="rating">
            {% for i in "12345" %}
                <i class="fa fa-star"></i>
            {% endfor %}
        </div>
        <p>{{ product.price }} грн.</p>
    </div>
    {% endfor %}
    </div>
{%else%}
    Жодного товару не знайдено
{%endif%}
<script>
    var MenuItems = document.getElementById("MenulItems") ; 

        MenuItems.style.maxHeight = "0px"; 
        function menutoggle(){ 
        if (MenuItems.style.maxHeight == "0px") 

        {
        MenuItems.style.maxHeight = "200px";
        } 
        else
        {
        MenuItems.style.maxHeight = "0px";
        }
        }
    </script>
{% endblock %}



       

  