{% extends 'base.html' %}
{% block title %}
  Solid Build - Мій акаунт
{% endblock %}
{% block content %}
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
    }
    .container1 {
      max-width: 960px;
      margin: 0 auto;
      padding: 20px;
    }
    
    .text-center {
      text-align: center;
    }
    .card {
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;
    }
    .card-header {
      background-color: #007bff;
      color: #fff;
      padding: 10px 20px;
      border-radius: 8px 8px 0 0;
    }
    .card-body {
      padding: 20px;
      width: 900px;
    }
    .list-group-item {
      border: none;
      padding: 10px 0;
    }
    .list-group-item:nth-child(odd) {
      background-color: #f9f9f9;
    }
    .horizontal-line {
      width: 100%;
      height: 4px; /* Толщина линии */
      background-color: #000; /* Цвет линии */
      margin: 20px 0; /* Отступы сверху и снизу */
  }
  </style>
  <div class="container1">
    <h1 class="text-center mb-4">Мій аккаунт</h1>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-body">
            <p>
              <strong>Нік:</strong> {{ user.username }}
            </p>
            <p>
              <strong>Ім'я:</strong> {{ user.first_name }}
            </p>
            <p>
              <strong>Прізвище:</strong> {{ user.last_name }}
            </p>
            <p>
              <strong>Пошта:</strong> {{ user.email }}
            </p>
            <form method="post" action="http://localhost:8000/displaysite/logout">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Вийти з акаунту</button>
            </form>
          </div>
        </div>

        <!-- Current Orders -->
        <div class="card mb-4">
          <div class="card-header">Поточні замовлення</div>
          
          <div class="card-body">
            {% if orders %}
              {% for order in orders %}
                <ul class="list-group">
                  <li class="list-group-item">
                    <strong>Номер замовлення:</strong> {{ order.id }}<br />
                    <strong>Дата:</strong> {{ order.created_at }}<br />
                    <form method="post" action="{% url 'displaysite:cancel_order' order.id %}" style="margin-top: 10px;">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-danger">Відмінити замовлення</button>
                    </form>
                    {% if orderitems %}
                      <div class="row">
                        {% for item in orderitems %}
                          {% if item.order_id == order.id %}
                            {% for product in products %}
                              {% if product.id == item.product_id %}
                              <div class="col-4">
                                {% with images=product.images.all %}
                                {%if images%}
                                    {% for image in images %}
                                    {% if forloop.first %}
                                        <img src="/media/{{ image.image }}" alt="{{ product.name }}"/>
                                        
                                        {% endif %}
                                    
                                    {% endfor  %}
                                {%else%}
                                    <img src="/media/misc/nophoto.jpg" alt="{{ product.name }}"/>
                                {% endif %}
                                {% endwith %}
                                <a href="{% url 'displaysite:product' product.id %}">{{product.name}} {{product.brand}} {{product.model}}</a>
                                <div class="rating">
                                    {% for i in "12345" %}
                                        <i class="fa fa-star"></i>
                                    {% endfor %}
                                </div>
                                <p>
                                    {% if product.discount > 0 %}
                                        <p><span class="original-price">{{ product.price|floatformat:2 }} грн.</span><span class="price">  -{{ product.discount|floatformat:0 }}%</span></span></p>
                                        <p><span class="discounted-price">{{ product.return_price|floatformat:2 }} грн.</span></p>
                                    {% else %}
                                        <p><span class="price">{{ product.price|floatformat:2 }} грн.</span></p>
                                    {% endif %}
                                      <p><span class="price">Кількість:{{ item.quantity }} </span></p>
                                </p>
                            </div>
                            {% if forloop.counter|divisibleby:4 and not forloop.last %}
                                </div><div class="row">
                            {% endif %}
                              {% endif %}
                            {% endfor %}
                          {% endif %}
                        {% endfor %}
                      </div>
                    {% else %}
                      <p>Немає товарів у замовленні.</p>
                    {% endif %}
                  </li>
                </ul>
                <div class="horizontal-line"></div>
              {% endfor %}
            {% else %}
              <p>Немає поточних замовлень.</p>
            {% endif %}
          </div>
        </div>

        <!-- Order History -->
        <div class="card">
          <div class="card-header">Історія замовлень</div>
          <div class="card-body">
            {% if order_history %}
              <ul class="list-group">
                {% for order in order_history %}
                  <li class="list-group-item">
                    <strong>Номер замовлення:</strong> {{ order.id }}<br />
                    <strong>Дата:</strong> {{ order.date }}<br />
                    <strong>Статус:</strong> {{ order.status }}<br />
                    <strong>Сума:</strong> {{ order.total }}
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              <p>Немає історії замовлень.</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


