<style>
    body, html {
        height: 100%;
        margin: 0;
    }
    body {
        display: grid;
        grid-template-rows: 1fr auto;
    }
    .container {
        padding: 20px;
    }
    .footer {
        padding: 10px;
        text-align: center;
    }

</style>
<div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Завантажити додаток</h3>
                    <p>Завантажити для Android та ios.</p>
                    <div class="app-Llogo">
                        <a href="https://play.google.com/store">
                            <img src="/media/misc/play-store.png" alt="Google Play">
                          </a>
                          <a href="https://apps.apple.com/">
                            <img src="/media/misc/app-store.png" alt="App Store">
                          </a>
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="/media/misc/logofinal.png" width="125px">
                    <p>
                        Наша мета — збудувати майбутнє України разом!
                    </p>
                </div>
                <div class="footer-col-3">
                    <h3>Корисні посилання</h3>
                    <ul>
                        <li>
                            Купони
                        </li>
                        <li>Блог</li>
                        <li>Політика повернення</li>
                        <li>Партнерство</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Слідкуйте за нами у соц. мережах</h3>
                    <ul>
                        <li>
                         <a href="https://www.facebook.com/Solid.Build"><img src="/media/misc/facebookicon.png" width="32px" height="32px" /></a>
                            &nbsp;
                         <a href="https://x.com/Solid.Build"><img src="/media/misc/twittericon.png" width="32px" height="32px" /></a>
                            &nbsp;
                            <p>
                         <a href="https://www.youtube.com/channel/ASAFF36afgd54zgeGRrtu"><img src="/media/misc/youtubeicon.png" width="32px" height="32px" /></a>
                            &nbsp;
                         <a href="https://www.instagram.com/Solid.Build"><img src="/media/misc/instagramicon.png" width="32px" height="32px" /></a>
                            </p>
                        <li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright 2024 - Solid Building
            </S>
        </p>
    </div>
</div>