<div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Завантажити додаток</h3>
                    <p>Завантажити для Android та ios.</p>
                    <div class="app-Llogo">
                        <img src="images/play-store.png">
                        <img src="images/app-store.png">
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="images/logofinal.png" width="125px">
                    <p>
                        Наша мета — збудувати майбутнє України разом!
                    </p>
                </div>
                <div class="footer-col-3">
                    <h3>Корисні посилання</h3>
                    <ul>
                        <li>
                            Купони
                        </1li>
                        <li>Блог</li>
                        <li>Політика повернення</li>
                        <li>Партнерство</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Слідкуйте за нами у соц. мережах</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>
                            Twitter
                        </1li>
                        <li>
                            Instagram
                        </1li>
                        <li>YouTube</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright 2024 - Solid Building
            </S>
        </p>
    </div>
</div>