{% load static %}
{% with images_dir='displaysite/images/' %}
  <div class="header">
    <div class="container">
      <div class="navbar">
        <div class="logo">
          <a href="http://localhost:8000/displaysite"><img src="/media/misc/logofinal.png" width="125px" alt="Логотип" /></a>
        </div>
        <nav>
          <ul>
            <li>
              <a href="">Головна</a>
            </li>
            <li>
              <a href="">Товари</a>
            </li>
            <li>
              <a href="">Про нас</a>
            </li>
            <li>
              <a href="">Контакти</a>
            </li>
            <li>
              <a href="">Акаунт</a>
            </li>
          </ul>
        </nav>
        <img src="/media/misc/cart_icon.png" width="30px" height="30px" />
      </div>
    </div>
  </div>
{% endwith %}
